.VideoCameraIcon {
    height: 14px;
    width: 22px;
}

.VideoCameraIconWrapper {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #DC2626;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-right: 13px;
}

.Header {
    padding-left: 24px;
    display: flex;
    height: 80px;
    align-items: center;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}


.UploadText {}

.UploadVideosText {
    display: block;
}