.sidebar {
    grid-area: sidebar;
    background-color: #eee;
    padding: 16px;
    /* width: 264px; */
    width: 238px;
    min-width: 0;

    /* STICKY PROPERTIES */
    position: sticky;
    top: 68px;
    /* distance from top of viewport */

    /* Make sidebar take full viewport height minus top offset */
    height: calc(100vh - 68px);
    overflow-y: auto;
    /* Allow scrolling if content overflows */
    overscroll-behavior-y: contain;
    z-index: 1001;
}


.sidebar__content {
    height: 200vh;
}



/* tailwind css breakpoint templates for media queries */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}


/* use these tailwind css breakpoint media queries here */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}