.sidebar {
    grid-area: sidebar;
    background-color: #eee;
    padding: 16px;
    overflow-y: auto;
    width: 264px;
    /* width: 303px; */
    /* transition: width 0.3s ease, padding 0.3s ease; */
}













/* tailwind css breakpoint templates for media queries */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}


/* use these tailwind css breakpoint media queries here */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}