.header2 {
    grid-area: header2;
    /* background-color: #ddd; */
    /* height: 48px; */
    height: 32px;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 16px;
    padding-left: 26px;
    background-color: white;
}

.header2 {
    position: sticky;
    /* Or 'fixed' */
    top: 68px;
    z-index: 1000;
    /* Keeps it above other content */
}


.header2-div2 {
    background: #ddd;
}







/* tailwind css breakpoint templates for media queries */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}


/* use these tailwind css breakpoint media queries here */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}