.thumbnail {
    aspect-ratio: 16/9;
    width: 100%;
    background-color: #008000;
    object-fit: cover;
    border-radius: 6px;
}

.grid-item {
    display: grid;
    grid-template-rows: auto auto;
    /* background-color: #add8e6; */
    width: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 49px 1fr;
    /* background-color: #f08080; */
    width: 100%;
    min-height: 106px;
    /* overflow-wrap: break-word;
    word-break: break-word; */
}

.thumbnail img {
    display: block;
    /* removes inline descender gaps */
    width: 100%;
    height: 100%;
    /* crucial: use parent's height */
    object-fit: cover;
    /* crop if needed, but stays in box */
    border-radius: inherit;
    /* match wrapper if you want rounded corners */
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

.test {
    display: flex;
}

.GridItem-Channel-Photo {
    background: #ccc;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-top: 12px;
}

.Video-details {
    margin-top: 8px;
}

.view-date-divider {
    margin-left: 5px;
    margin-right: 5px;
}

.views {
    white-space: nowrap;
}

/* tailwind css breakpoint templates for media queries */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}


/* use these tailwind css breakpoint media queries here */

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}